In [17]:
import pandas as pd
import os
import json

Вирішив об'єднати для зручності набору в один змерджений + навернути обдуману обробку

In [5]:
general_len = 0
names = list()

for file_name in os.listdir('data'):
    if('.csv' in file_name):
        df = pd.read_csv('data\\' + file_name, sep = ';')
        general_len += len(df)
        names.append(df.FULL_NAME)

names = pd.concat(names)
print('General len: ', general_len)
print('Non-duplicates len: ', len(names.drop_duplicates()))
print('Difference: ', general_len - len(names.drop_duplicates()))

General len:  477598
Non-duplicates len:  421152
Difference:  56446

In [7]:
dfs = list()

for file_name in os.listdir('data'):
    if('.csv' in file_name):
        dfs.append(pd.read_csv('data\\' + file_name, sep = ';')[['TIN', 'FULL_NAME']])

dfs = pd.concat(dfs)

In [8]:
dfs = dfs.drop_duplicates()

In [10]:
dfs.to_csv('data\\cleared_csv.csv', index = False, quotechar = '|')

In [12]:
len(dfs)

429576

In [11]:
dfs.head()

        TIN                                          FULL_NAME
0    376372  ДЕРЖАВНЕ ПІДПРИЄМСТВО "БАРСЬКИЙ СПИРТОВИЙ КОМБ...
1   3967501  ПІДПРИЄМСТВО ОБ'ЄДНАННЯ ГРОМАДЯН "БАРСЬКЕ УЧБО...
2   7686118                            ВІЙСЬКОВА ЧАСТИНА А1603
3  14307570  ПРИВАТНЕ АКЦIОНЕРНЕ ТОВАРИСТВО "БАРСЬКИЙ МАШИН...
4  30425482  ТОВАРИСТВО З ОБМЕЖЕНОЮ ВIДПОВIДАЛЬНIСТЮ "ПФАНН...

Наступний код мерджить чанками і стрічками(щоб не загрузити оперативку) дані в один файл.
При цьому відразу фільтруються дані, які
1) мають один спільний код
2) 3 слова мають спільні в назві(1 - надто м'яка фільтрація на мою думку)
Поки зробив набір на 100 000 записів

In [ ]:
counter = 0
counter_reached = False

result_df = pd.DataFrame(columns = ['TIN', 'FULL_NAME', 'json_id', 'name', 'ogrnCode', 'innCode', 'sanctions', 'related_to', 'same_code', 'same_name', 'redused_full_name', 'redused_json_name'])
result_df.to_csv('result_data_large.csv', index = False)
for chunk in pd.read_csv('data\\cleared_csv.csv', quotechar = '|', chunksize = 1000):
    for row in chunk.iterrows():
        with open('data\\opensanctions_processed_uk.json', 'r') as f:          
            for line in f:
                obj = json.loads(line)
    
                code_equals = False
                if(isinstance(obj['innCode'], list)):
                    for innCode in obj['innCode']:
                        if(innCode == row[1]['TIN']):
                            code_equals = True
                            break
                if(isinstance(obj['ogrnCode'], list)):
                    for ogrnCode in obj['ogrnCode']:
                        if(ogrnCode == row[1]['TIN']):
                            code_equals = True
                            break

                name_equals = False
                name_counter = 0
                obj_str = obj['name'].replace('\"', '').lower().strip() if (not obj['name'] is None) else obj['caption'].lower().strip()
                words_obj = obj_str.split()
                csv_str = row[1]['FULL_NAME'].replace('\"', '').lower().strip()
                words_csv = csv_str.split()
                for word_1 in words_obj:
                    for word_2 in words_csv:
                        if(word_1 == word_2):
                            name_counter += 1
                            if(name_counter > 2):
                                name_equals = True
                                break
                    if(name_equals):
                        break
                if(name_equals):
                    for word in words_obj:
                        
                        if((word in words_csv) and (word in words_obj)):
                            csv_str = csv_str.replace(word, '')
                            obj_str = obj_str.replace(word, '')
                            
                    csv_str = csv_str.strip()
                    obj_str = obj_str.strip()
                    if(len(csv_str) == 0):
                        csv_str = 's'
                    if(len(obj_str) == 0):
                        obj_str = 's'
                if((name_equals) or (code_equals)):
                    new_row = {'TIN' : row[1]['TIN'], 
                                      'FULL_NAME' : csv_str, 
                                      'json_id' : obj['id'], 
                                      'name' : obj_str, 
                                      'ogrnCode' : str(obj['ogrnCode']), 
                                      'innCode' : str(obj['innCode']), 
                                      'sanctions' : str(obj['sanctions']),
                                      'related_to' : str(obj['related_to']),
                                      'same_code' : code_equals,
                                      'same_name' : name_equals,
                                      'redused_full_name' : csv_str,
                                      'redused_json_name' : obj_str}
                    result_df = pd.DataFrame(columns = ['TIN', 'FULL_NAME', 'json_id', 'name', 'ogrnCode', 'innCode', 'sanctions', 'related_to', 'same_code', 'same_name', 'redused_full_name', 'redused_json_name'])
                    result_df = pd.concat([result_df, pd.DataFrame(new_row, index = [0])], ignore_index = False)
                    result_df.to_csv('result_data_large.csv', mode = 'a', index = False, header = False)      
                    counter += 1
                    if(counter > 1000000):
                        counter_reached = True
                        break
        if(counter_reached):
            break
    if(counter_reached):
        break

In [ ]:
counter = 0
for df in pd.read_csv('result_data_large.csv', chunksize = 1000):
    counter += len(df)
print('len: ', counter)